<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA-65LUWFQVnLVOzhBSu8bhvJhlq2n9daA</string>
	<key>GCM_SENDER_ID</key>
	<string>77317364066</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.edufelip.amazingnote</string>
	<key>PROJECT_ID</key>
	<string>amazing-note-7eb16</string>
	<key>STORAGE_BUCKET</key>
	<string>amazing-note-7eb16.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77317364066:ios:4f7c87937a226fb3f6b43b</string>
</dict>
</plist>